---
layout: default
---

<div>
    <article class="post">
        <header class="content-header">
            <h2 class="content-title">{{ page.title }}</h2>
            <div><i class="far fa-clock"></i><span class="date-undertitle">{{ page.date | date_to_string }}</span></div>
            <div class="content-tags">
                <i class="fas fa-tags"></i>
                {% for tag in page.tags %}
                <span class="content-tag">{{tag}}</span>
                {% endfor %}
            </div>
        </header>
        {{ content }}
    </article>
</div>

{% include share-page.html %}

{% include google-adsense.html %}

<div>
    <h3 class="content-title">Related Posts</h3>
    <ul>
        {% for post in site.related_posts limit:3 %}
        <li>
            <h4>
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <small class="data-append">{{ post.date | date_to_string }}</small>
                </a>
            </h4>
        </li>
        {% endfor %}
    </ul>
</div>
